{% extends "layout.html" %}

{% block page_title %}
  My Lists | SGO Data Sharing Platform
{% endblock %}

{% block inside_header %}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_prototype.html' %}

  <h1 class="heading-xlarge">
    Your Lists
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      {% for list in lists %}
        <h3><a href="/lists/{{ list.index }}" class="summary">{{ list.name }}</a></h3>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}