<div class="grid-row">
  <div class="column-full">
    <ul class="pages">
      <li>Page:</li>
      {% if pages <= 1 %}
        <li><strong>1</strong></li>
      {% else %}
        {% for i in range(1, pages) %}
          {% if i == page %}
            <li><strong>{{ i }}</strong></li>
          {% else %}
            <li><a href="?page={{i}}&per_page={{per_page}}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
    <ul class="per_page">
      <li>Per page:</li>
      {% for p in [10,20,50,'all'] %}
        {% if p == per_page %}
          <li><strong>{{ p }}</strong></li>
        {% else %}
          <li><a href="?per_page={{p}}">{{ p }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>