<div class="grid-row updates-columns">

  <div class="column column-one-half">
    <h2 class="heading-medium">Imprisonments</h2>
    {% set updateType = 'imprisonment' %}
    {% include 'includes/updates_list.html' %}
    {% include 'includes/updates_show_more.html' %}
  </div>
  <div class="column column-one-half">
    <h2 class="heading-medium">Releases</h2>
    {% set updateType = 'release' %}
    {% include 'includes/updates_list.html' %}
    {% include 'includes/updates_show_more.html' %}
  </div>

</div>
<div class="grid-row updates-columns">

  <div class="column column-one-half">
    <h2 class="heading-medium">Affiliations</h2>
    {% set updateType = 'affiliation' %}
    {% include 'includes/updates_list.html' %}
    {% include 'includes/updates_show_more.html' %}
  </div>
  <div class="column column-one-half">
    <h2 class="heading-medium">Tensions</h2>
    {% set updateType = 'tension' %}
    {% include 'includes/updates_list.html' %}
    {% include 'includes/updates_show_more.html' %}
  </div>

</div>
