{% extends "layout.html" %}

{% block page_title %}
  Mock Home Page
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_prototype.html' %}

  <h1 class="heading-xlarge">Dashboard</h1>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h2 class="heading-medium">Recent updates</h2>

      {% include 'includes/updates_list.html' %}

      <p>
        <a href="/updates">More...</a>
      </p>

    </div>

    <div class="column-one-third">
      <h2 class="heading-medium">Common tasks</h2>

      <ul class="list list-bullet">
        <li><a href="#">Book in an offender</a></li>
        <li><a href="#">Nominal search</a></li>
        <li><a href="#">OCG search</a></li>
      </ul>
    </div>

  </div>

</main>


{% endblock %}
