{% extends "layout.html" %}

{% block page_title %}
  Dashboard
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_prototype.html' %}

  <h1 class="heading-xlarge detail-heading">
    <span class="heading-label">Home</span>
    <span class="heading-detail">Dashboard</span>
  </h1>

  {% include 'includes/updates_columns.html' %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">Common tasks</h2>

      <ul class="list list-bullet">
        {% if userType == 'prison-officer' %}
          <li><a href="#">Book in an offender</a></li>
        {% elif userType == 'probation-officer' %}
          <li><a href="#">Probation officer tasks here...</a></li>
        {% elif userType == 'police-officer' %}
          <li><a href="#">Police officer tasks here...</a></li>
        {% endif %}
        <li><a href="/nominal">Nominal search</a></li>
        <li><a href="/ocg">OCG search</a></li>
      </ul>
    </div>
  </div>

</main>


{% endblock %}
