.simple-search-outer {
  @include media(tablet) {
    float: right;
    clear: both;
  }
  @include media(mobile) {
    float: none;
    text-align: center;
    width: 100%;
  }

  .form-group {
    margin: 0;
  }
  .form-control {
    height: 2em;
    font-size: 90%;
    width: auto;
    @include media(mobile) {
      width: 100%;
    }
  }
  .button-search {
    background-color:transparent;
    background-size: 1.8em;
    background-position: 0.1em 0.2em;
    background-repeat: no-repeat;
    border: 1px outset white;
    border-left: none;
    height: 1.75em;
    margin-left: 0;
    margin-top: 2px;
    width: 1.8em;

    @include media(mobile) {
      background-size: 2em, 2em;
      background-position: center;
      border: 1px outset white;
      margin: 0 0 0 2px;
      padding: 0;
      width: calc(100% - 4px);
    }
  }
}

#proposition-name {
  display: block;
}
#proposition-links {
  clear: left;
  display: inline-block;
  float: left;
  margin-left: 5px;

  li {
    float: left;
    a {
      font-weight: 700;
      padding: 2px 10px;
      text-decoration: none;
      width: 7em;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  @include media(mobile) {
    display: block;
    float: none;
    overflow: hidden;
    width: 100%;

    li {
      display: inline-block;
      width: 49%;

      a {
        display: block;
      }
    }
  }
}
.js-enabled #proposition-links.js-visible {
  width: 100%;
}

#global-header.with-proposition .header-wrapper {
  padding: 10px 20px;
}
#global-header.with-proposition .header-wrapper .header-global {
  width: auto;
}
#global-header.with-proposition .header-wrapper .header-proposition  {
  padding-top: 6px;
  width: 80%;
  
  @include media(mobile) {
    width: 100%;
  }


}

#user-and-search {
  float: right;
  margin-right: 15px;
  overflow: hidden;
  width: auto;

  @include media(mobile) {
    float: none;
    width: 100%;
  }
  input {
    padding: 9px;
  }
}
#name-and-menu {
  float: left;
}


.user-menu {
  float: right;

  li, a {
    color: $white;
    display: inline-block;
    list-style-type: none;
  }
}
