.avatar {
  width: 25vw;
  height: 25vw;
  max-width: 270px;
  max-height: 270px;
  border-radius: 50%;
  border: 3px solid $black;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  &:after {
    content: "SAMPLE";
    font-weight: bold;
    color: $white;
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    opacity: 0.3;
    text-align: center;
    display: block;
    margin-top: 40%;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);

    @include media(mobile) {
      font-size: 50px;
    }
    @include media(tablet) {
      font-size: 30px;
    }
    @include media(desktop) {
      font-size: 40px;
    }
  }

  @include media(mobile) {
    max-width: 340px;
    max-height: 340px;
    margin: 0 auto;
	  width: 70vw;
	  height: 70vw;
	  border-radius: 40vw;
  }
}

.avatar-thumb {
  width: 10vw;
  height: 10vw;


  &:after {
    margin-top: 30px;

    @include media(mobile) {
      margin-top: 120px;
      font-size: 50px;
    }
    @include media(tablet) {
      font-size: 13px;
    }
    @include media(desktop) {
      font-size: 20px;
    }
  }

  @include media(mobile) {
    width: calc(100% - 30px);
    height: 85vw;
    border-radius: 3vw;
    margin-bottom: 1em;
  }
}
