.nominals-column {
  border-right: 1px solid $grey-2;

  @include media(mobile) {
    border-right: none;
    border-bottom: 1px solid $grey-2;
    margin-bottom: 24px;
    padding-bottom: 24px;
  }
}

.nominals-column,
.tensions-column {
  @include clearfix;

  .none {
    float: left;
    clear: both;
    margin-top: 10px;
  }
}

.updates-columns {
  .column {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey-2;

    @include media(tablet) {
      float: none;
      width: auto;
    }
    @include media(desktop) {
      float: left;
      border-left: 1px solid $grey-2;
      border-bottom: none;
      padding-bottom: 0;
      padding-left: 20px;
      padding-right: 20px;

      &.column-two-thirds {
        width: 66%;
      }
      &.column-one-half {
        width: 50%;
      }
      &.column-one-third {
        width: 33.33333%;
      }
      &.column-one-quarter {
        width: 25%;
      }
    }

    &:first-of-type {
      border-left: none;
      padding-left: 15px;
    }

    h2 {
      margin-top: 0;
    }

    p {
      margin: 2em 0 0;
    }
  }
}

.column-three-quarters {
  @include grid-column( 3/4 );
}
