dl {

}

dt {
  float: left;
  clear: both;
  font-weight: bold;
  margin-top: 10px;
}

dd {
  float: left;
  margin-top: 10px;
  padding-left: 10px;

  ul, ul.list {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* pagination */
.pages {
  float: left;
}
.per_page {
  float: right;
}
.pages, .per_page{
  li {
    display: inline-block;
    margin-right: 10px;
  }
}

.updates-list {
  @include core-16;

  li {
    @include clearfix;

    border: 1px solid $grey-3;
    display: block;
    margin: 0 0 3px 0;
    padding: 15px;
    padding-left: 65px;
    box-shadow: 2px 2px 1px $grey-3;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 10px 5px;

    &.affiliation {
      background-image: url($path + 'icons/affiliation.png');
    }
    &.tension-change {
      background-image: url($path + 'icons/tension.png');
    }
    &.incarceration {
      background-image: url($path + 'icons/prison-bars.png');
    }
  }
}
