dl {

}

dt {
  float: left;
  clear: both;
  font-weight: bold;
  margin-top: 10px;
}

dd {
  float: left;
  margin-top: 10px;
  padding-left: 10px;

  ul, ul.list {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nav-links {
  li {
    display: inline;
    margin-right: 20px;
  }
}

.updates-list {
  @include core-16;

  li {
    @include clearfix;

    border: 1px solid $grey-3;
    display: block;
    margin: 0 0 3px 0;
    padding: 8px;
    box-shadow: 2px 2px 1px $grey-3;
  }
}
