dl {

}

dt {
  float: left;
  clear: both;
  font-weight: bold;
  margin-top: 10px;
}

dd {
  float: left;
  margin-top: 10px;
  padding-left: 10px;

  ul, ul.list {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nav-links {
  li {
    display: inline;
    margin-right: 20px;
  }
}

/* inline dl's for the nominal search results */
.results-list dl {
  clear: both;
  
  dt, dd {
    clear: none;
    display: inline-block;
    float: none;
  }
  dd {
    margin-right: 10px;
  }
}
