.heading-inner{
  float:left;
  @include media(mobile) {
    float:none;
  }
}
.system-ids{
  float:right;
  font-size:0.8em;
  color:#888;
  @include media(mobile) {
    float:none;
  }
}
.search-result {
  margin-bottom: 35px;
  margin-top: 20px;
  overflow: hidden;
}

.search-result-avatar-wrapper {
  display: inline-block;
  float: left;
  margin-right: 25px;

  @include media(mobile) {
    text-align: center;
    width: 100%;
  }
}

.search-result-detail {
  float: left;
  width:82%;
  @include media(mobile) {
    padding: 0 15px;
    width: calc(100% - 30px);
  }
  h3 {
    margin: 0;
  }
}

/* inline dl's for the nominal search results */
.results-list dl {
  clear: both;
  
  dt, dd {
    clear: none;
    display: inline-block;
    float: none;
  }
  dd {
    font-weight: bold;
    margin-right: 10px;
  }
  dt {
    font-weight: normal;
  }
}
