.heading-inner{
  float:left;
  @include media(mobile) {
    float:none;
  }
}
.system-ids{
  float:right;
  font-size:0.8em;
  color:#888;
  @include media(mobile) {
    float:none;
  }
}
.nominal-list-item, .ocg-list-item {
  margin-bottom: 35px;
  margin-top: 20px;
  overflow: hidden;

  :hover {
    background-color: #fcfcff;
  }
}

.avatar-wrapper {
  display: inline-block;
  float: left;
  margin-right: 25px;

  @include media(mobile) {
    text-align: center;
    width: 100%;
  }
}

.nominal-list-item-detail {
  width: 82%;
}
.ocg-list-item-detail {
  width: 100%;
}

.nominal-list-item-detail, .ocg-list-item-detail {
  float: left;

  @include media(mobile) {
    padding: 0 15px;
    width: calc(100% - 30px);
  }

  .system-ids {
    .field {
      clear: left;
      margin: 0.2em 0;
      text-align: right;

      @include media(mobile){
        display: inline-block;
      }
    }
  }

  h3 {
    margin: 0;
  }
}
/* wrapping needs to be adjusted when a list item is 
  within a three-quarter-width column */
.column-three-quarters {
  .nominal-list-item-detail, .ocg-list-item-detail {
    width: 75%;

    @include media(mobile){
      width: 95%;
    }
  }
}

/* inline dl's for a list of nominals */
.nominal-list-item, .ocg-list-item {
  dl {
    clear: left;
    
    dt, dd {
      clear: none;
      display: inline-block;
      float: none;
    }
    dd {
      font-weight: bold;
      margin-right: 10px;
    }
    dt {
      font-weight: normal;
    }
  }
}

.clear-search {
  line-height: 2em;
  margin-left: 2em;
  @include media(mobile) {
    display: block;
    margin-left: 0;
    margin-top: 1em;
    text-align: center;
    width: 100%;
  }
}
