.tension {
  border-bottom: 1px solid #ccc;
  margin-top: 1em;

  h3{
    margin-top: 0;
  }

  .ocg-tension {
    display: block;
    overflow: hidden;
  }
  .ocgs {
    min-height: 4em;
    line-height: 3em;

    @include media(mobile) {
      margin: 0 1em;
    }
  }
  .ocg, .tension-level {
    display: block;
    float: left;
    margin-top: 0.2em;
  }

  .ocg:first-child {
    &::after {
      content: '  ⟹';
      font-size: 20px;
    }
  }


  .tension-level {
    padding: 0 0.2em;
    font-size: 80%;

    &::after {
      content: '  ⟸';
      font-size: 20px;
    }

    strong{
      font-size: 120%;
      padding: 0 0.2em;
    }
  }
  .tension-level-high strong{
    color: #900;
  }
  .tension-level-medium strong{
    color: #FF8c00;
  }
  .tension-level-low strong{
    color: #AAAA00;
  }
}