.tension {
  border-bottom: 1px solid #ccc;
  margin-top: 1em;

  h3{
    margin-top: 0;
  }

  .ocg-tension {
    display: block;
    overflow: hidden;
  }
  .ocgs {
    min-height: 4em;
    line-height: 3em;

    @include media(mobile) {
      margin: 0 1em;
    }
  }

  .nominal {
    margin-left: 1em;
  }
  .tension-level {
    display: block;
    line-height: 5em;
    text-align: center;

    strong{
      font-size: 120%;
      line-height: 2em;
      padding: 0.2em 1em;
    }
  }
  .tension-level-high strong{
    color: #900;
  }
  .tension-level-medium strong{
    color: #FF8c00;
  }
  .tension-level-low strong{
    color: #AAAA00;
  }
}