{% extends "layout.html" %}

{% block page_title %}
  Nominal detail: {{nominal.given_names}} {{nominal.family_name}}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{nominal.given_names}} {{nominal.family_name}}
      </h1>

    </div>
  </div>


  <div class="grid-row">

    <div class="column-one-third">
      <div class="avatar" style="background-image:url({{nominal.mugshot.url}})" title="{{nominal.given_names}} {{nominal.family_name}}">
      </div>
    </div>

    <div class="column-two-thirds">

      <dl class="cf">
        <dt>Date of birth:</dt>
        <dd>{{nominal.dob}}</dd>

        <dt>Gender:</dt>
        <dd>{{nominal.gender}}</dd>

        <dt>Offender ID:</dt>
        <dd>{{nominal.offender_id}}</dd>

        <dt>NOMIS ID:</dt>
        <dd>{{nominal.nomis_id}}</dd>

        <dt>PNC ID:</dt>
        <dd>{{nominal.pnc_id}}</dd>

        <dt>Identifying marks:</dt>
        <dd>
          {% if nominal.identifying_marks.length %}
            <ul class="list list-bullet">
              {% for mark in nominal.identifying_marks %}
              <li>{{mark}}</li>
              {% endfor %}
            </ul>
          {% else %}
          none
          {% endif %}
        </dd>

        <dt>Known aliases:</dt>
        <dd>
          {% if nominal.aliases.length %}
            <ul class="list list-bullet">
              {% for alias in nominal.aliases %}
              <li>{{alias}}</li>
              {% endfor %}
            </ul>
          {% else %}
          none
          {% endif %}
        </dd>

        <dt>Known affiliations:</dt>
        <dd>
          {% if affiliations.length %}
            <ul class="list list-bullet">
              {% for affiliation in affiliations %}
              <li><a href="/test/gang/{{affiliation.index}}">{{affiliation.name}}</a></li>
              {% endfor %}
            </ul>
          {% else %}
          none
          {% endif %}
        </dd>

      </dl>
    </div>


  </div>

  <div class="grid-row">
    <div class="column-two-thirds">


      <br><br><br><br>
      <ul class="nav-links">
        <li><a href="/test/nominal/{{prev}}">Previous</a></li>
        <li><a href="/test/nominal/rand/">Random</a></li>
        <li><a href="/test/nominal/{{next}}">Next</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}


