{% extends "layout.html" %}

{% block page_title %}
  Prison detail: {{prison}}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_prototype.html' %}

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        HMP {{prison}}
      </h1>

      <h2 class="heading-medium">Nominals known to be in this facility:</h2>

      {% if nominalsInPrison.length %}
        <dl class="nominals-in-prison">
          <dt>Nominal</dt>
          <dd>Affiliations</dd>
          {% for nominal in nominalsInPrison %}
          <dt>
            <a href="/nominal/{{nominal.index}}">{{nominal.given_names}} {{nominal.family_name}}</a>
          </dt>
            {% if nominal.affiliations.length %}
              <dd>
                <ul>
                {% for affiliation in nominal.affiliations %}
                  <li><a href="/ocg/{{affiliation[0]}}">{{ocgs[affiliation[0]].name}}</a></li>
                {% endfor %}
                </ul>
              </dd>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>None</p>
      {% endif %}
    </div>

  </div>

</main>

{% endblock %}


