{% extends "layout.html" %}

{% block page_title %}
  All updates
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_prototype.html' %}

  <h1 class="heading-xlarge detail-heading">
    <span class="heading-label">Home</span>
    <span class="heading-detail">Recent updates</span>
  </h1>

  <div class="grid-row updates-columns">

    <div class="column column-one-third">
      <h2 class="heading-medium">Incarcerations</h2>
      {% set updates = updatesToDisplay.incarceration %}
      {% include 'includes/updates_list.html' %}
    </div>
    <div class="column column-one-third">
      <h2 class="heading-medium">Affiliations</h2>
      {% set updates = updatesToDisplay.affiliation %}
      {% include 'includes/updates_list.html' %}
    </div>
    <div class="column column-one-third">
      <h2 class="heading-medium">Tensions</h2>
      {% set updates = updatesToDisplay.tension %}
      {% include 'includes/updates_list.html' %}
    </div>

  </div>



</main>

{% endblock %}
