{% extends "layout.html" %}

{% block page_title %}
  Nominal detail: {{nominal.given_names}} {{nominal.family_name}}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_prototype.html' %}

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge detail-heading">
        <span class="heading-label">Nominal</span>
        <span class="heading-detail">{{nominal.given_names}} {{nominal.family_name}}</span>
      </h1>
    </div>
    <div class="column-one-third">
    </div>
  </div>


  <div class="grid-row">

    <div class="column-one-third">
      <div class="avatar" style="background-image:url('/public/images/mugshots/{{nominal.mugshot.filename}}')" title="{{nominal.given_names}} {{nominal.family_name}}">
      </div>
    </div>

    <div class="column-two-thirds">

      <dl class="nominal-detail">
        <dt>Date of birth:</dt>
        <dd>{{nominal.dob.displayDob}} (Age: {{age}})</dd>

        <dt>Gender:</dt>
        <dd>{{gender}}</dd>

        {% if nominal.incarceration.status == "incarcerated" %}
          <dt>Currently incarcerated at:</dt>
            <dd><a href="/prison/{{nominal.incarceration.prisonIndex}}">HMP {{prisonName}}</a></dd>
        {% endif%}
        {% if nominal.incarceration.status == "released" %}
          <dt>Released from:</dt>
            <dd><a href="/prison/{{nominal.incarceration.prisonIndex}}">HMP {{prisonName}}</a> {{releaseDaysAgo}}</dd>
        {% endif%}

        <dt>Offender ID:</dt>
        <dd>{{nominal.offender_id}}</dd>

        <dt>NOMIS ID:</dt>
        <dd>{{nominal.nomis_id}}</dd>

        <dt>PNC ID:</dt>
        <dd>{{nominal.pnc_id}}</dd>

        <dt>Identifying marks:</dt>
        <dd>
          {% if nominal.identifying_marks.length %}
            <ul class="list">
              {% for mark in nominal.identifying_marks %}
              <li>{{mark | capitalize}}</li>
              {% endfor %}
            </ul>
          {% else %}
          none
          {% endif %}
        </dd>

        <dt>Known aliases:</dt>
        <dd>
          {% if nominal.aliases.length %}
            <ul class="list">
              {% for alias in nominal.aliases %}
              <li>{{alias}}</li>
              {% endfor %}
            </ul>
          {% else %}
          none
          {% endif %}
        </dd>

        <dt>Known affiliations:</dt>
        <dd>
          {% if affiliations.length %}
            <ul class="list">
              {% for affiliation in affiliations %}
              <li>
                <a href="/ocg/{{affiliation.index}}">{{affiliation.name}}</a>
                {% if affiliation.role %}
                <span>(role: {{affiliation.role}})</span>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          {% else %}
          none
          {% endif %}
        </dd>

      </dl>
    </div>


  </div>

</main>

{% endblock %}


