{% extends "layout.html" %}

{% block page_title %}
  Nominal Tensions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_prototype.html' %}

  <div class="grid-row">
    <h1 class="heading-xlarge">
      Nominal Tensions
    </h1>
  </div>
  
  {% if nominalsInList.length == 0 %}
    <div class="panel panel-border-wide">
      <p>No OCG-related tensions match these nominals</p>
    </div>
  {% endif %}

  {% for nominal in nominalsInList %}
    {% if tensions[nominal.index].length == 0 %}
      <p>(no tensions)</p>
    {% else %}
      {% for tension in tensions[nominal.index] %}
        <div class="grid-row tension">
          <div class="column-quarter">
            <h3 class="heading-medium">
              <a href="/nominal/{{nominal.index}}">{{nominal.given_names}} {{nominal.family_name}}</a>
            </h3>
          </div>
          <div class="column-half ocgs">
          {% for ocgTension in tension.tensions %}
            <a class="ocg" href="/ocg/{{ocgTension.nominal1_ocg.index}}">{{ ocgTension.nominal1_ocg.name }}</a>
            <span class="tension-level tension-level-{{ocgTension.tensionLevel}}"><strong>{{ocgTension.tensionLevel}}</strong></span>
            <a class="ocg" href="/ocg/{{ocgTension.nominal2_ocg.index}}">{{ ocgTension.nominal2_ocg.name }}</a>
          {% endfor %}
          </div>
          <div class='column-quarter'>
            <h3 class="heading-medium">
              <a href="/nominal/{{tension.otherNominal.index}}">{{tension.otherNominal.given_names}} {{tension.otherNominal.family_name}}</a>
            </h3>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  
  {% endfor %}
</main>

{% endblock %}