{% extends "layout.html" %}

{% block page_title %}
  Nominal Tensions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_prototype.html' %}

  <div class="grid-row">
    <h1 class="heading-xlarge">
      Nominal Tensions
    </h1>
  </div>
  
  {% if nominalsInList.length == 0 %}
    <div class="panel panel-border-wide">
      <p>No OCG-related tensions match these nominals</p>
    </div>
  {% endif %}

  {% for nominal in nominalsInList %}
    <h3 class="heading-medium">
      <a href="/nominal/{{nominal.index}}">{{nominal.given_names}} {{nominal.family_name}}</a>
    </h3>
    {% if tensions[nominal.index].length %}
      {% for tension in tensions[nominal.index] %}
        <div class="grid-row tension">
          <div class="column-two-thirds">
            {% for ocgTension in tension.tensions %}
              <div class="ocg-tension">
                <span class="ocg"><a href="/ocg/{{ocgTension.nominal1_ocg.index}}">{{ ocgTension.nominal1_ocg.name }}</a></span>
                <span class="tension-level tension-level-{{ocgTension.tensionLevel}}"><strong>{{ocgTension.tensionLevel}}</strong></span>
                <span class="ocg"><a href="/ocg/{{ocgTension.nominal2_ocg.index}}">{{ ocgTension.nominal2_ocg.name }}</a></span>
              </div>
            {% endfor %}
          </div>
          <div class="column-one-third">
            <h3 class="heading-medium other-nominal">
              <a href="/nominal/{{tension.otherNominal.index}}">{{tension.otherNominal.given_names}} {{tension.otherNominal.family_name}}</a>
            </h3>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  
  {% endfor %}
</main>

{% endblock %}