{% extends "layout.html" %}

{% block page_title %}
  OCG detail: {{ocg.name}}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_prototype.html' %}

  <div class="grid-row">
    <h1 class="heading-xlarge">
      {{ocg.name}}
    </h1>
    <div class="column-full">
      <dl>
      {% if ocg.aliases.length %}
          <dt>Known aliases:</dt>
            <dd>{{ ocg.aliases.join(', ') }}</dd>
      {% endif %}

        <dt>Territory:</dt>
          <dd>{{ ocg.territory }}</dd>

        <dt>Identifying features:</dt>
          <dd>{{ ocg.identifying_features.join(', ') }}</dd>
      </dl>
    </div>
  </div>
  
  <div class="grid-row">
    <div class="column-half">
      <h2 class="heading-medium">Known nominals:</h2>
      {% if nominals.length %}
        <ul class="list list-bullet">
          {% for nominal in nominals %}
          <li><a href="/nominal/{{nominal.index}}">{{nominal.name}}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>none</p>
      {% endif %}
    </div>
  
    <div class="column-half">
      <h2 class="heading-medium">Known tensions:</h2>
      {% if tensions.length %}
        <ul class="list list-bullet">
          {% for tension in tensions %}
          <li><a href="/ocg/{{tension.ocg.index}}">{{tension.ocg.name}}</a> - Tension level: {{tension.tensionLevel}}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>none</p>
      {% endif %}
    </div>
  </div>
  <div class="grid-row">
    <ul class="nav-links">
      <li><a href="/ocg/{{prev}}">Previous</a></li>
      <li><a href="/ocg/rand/">Random</a></li>
      <li><a href="/ocg/{{next}}">Next</a></li>
    </ul>
  </div>
</main>

{% endblock %}


