{% extends "layout.html" %}

{% block page_title %}
  OCG detail: {{ocg.name}}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_prototype.html' %}

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge detail-heading">
        <span class="heading-label">OCG</span>
        <span class="heading-detail">{{ocg.name}}</span>
      </h1>

      <dl class="ocg-top-details">
      {% if ocg.aliases.length %}
          <dt>Known aliases:</dt>
            <dd>{{ ocg.aliases.join(', ') }}</dd>
      {% endif %}

        <dt>Territory:</dt>
          <dd>{{ ocg.territory }}</dd>

        {% if ocg.known_activities.length %}
        <dt>Known activities:</dt>
          <dd>{{ ocg.known_activities.join(', ') }}</dd>
        {% endif %}

        <dt>Identifying features:</dt>
          <dd>{{ ocg.identifying_features.join(', ') }}</dd>
      </dl>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half nominals-column">
      <h2 class="heading-medium detail-subheading detail-subheading-left">Known nominals</h2>
      <h2 class="heading-medium detail-subheading detail-subheading-right">Role</h2>
      {% if nominals.length %}
        <dl class="detail-aligned">
          {% for nominal in nominals %}
          <dt>
            <a href="/nominal/{{nominal.index}}">{{nominal.name}}</a>
          </dt>
            {% if nominal.role %}
              <dd>{{nominal.role | capitalize}}</dd>
            {% endif %}
          {% endfor %}
        </dl>
      {% else %}
        <p class="none">None</p>
      {% endif %}
    </div>

    <div class="column-half tensions-column">
      <h2 class="heading-medium detail-subheading detail-subheading-left">Known tensions</h2>
      <h2 class="heading-medium detail-subheading detail-subheading-right">Level</h2>
      {% if tensions.length %}
        <dl class="detail-aligned">
          {% for tension in tensions %}
          <dt><a href="/ocg/{{tension.ocg.index}}">{{tension.ocg.name}}</a></dt>
          <dd class="tension-block tension-{{tension.tensionLevel}}"><span class="visuallyhidden">{{tension.tensionLevel}}</span></dd>
          {% endfor %}
        </dl>
      {% else %}
        <p class="none">None</p>
      {% endif %}
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full threat-assessments-column">
      <h2 class="heading-medium detail-subheading ">Threat assessments</h2>

      {% if threatAssessments.length %}
        {% for assessment in threatAssessments %}
          <details>
            <summary><span class="summary">{{assessment.timestamp_for_display}} - {{assessment.assessment_type}}</span></summary>
            <div class="panel panel-border-narrow">
              <dl class="detail-aligned">
              {% for key, value in assessment.assessment %}
                <dt>{{ key }}</dt>
                  <dd>{{ value }}</dd>
              {% endfor %}
              </dl>
              <p class="assessor">Assessed by: {{ assessment.assessed_by }}, {{assessment.police_force}}</p>
            </div>
          </details>
        {% endfor %}
      {% else %}
        <br style="clear: both;"/>
        <p class="none">None</p>
      {% endif %}
    </div>
  </div>
</main>

{% endblock %}


