{% extends "layout.html" %}

{% block page_title %}
  Nominal search
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_prototype.html' %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Nominal Search
      </h1>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      {% include 'includes/nominal_search_form.html' %}
    </div>
    <div class="column-one-third">
      {% include 'includes/list_side_nav.html' %}
    </div>
  </div>

</main>

{% endblock %}


