{% extends "layout.html" %}

{% block page_title %}
  Gang detail: {{gang.name}}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{gang.name}}
      </h1>

      <h2 class="heading-medium">Known nominals:</h2>

      {% if nominals.length %}
        <ul class="list list-bullet">
          {% for nominal in nominals %}
          <li><a href="/nominal/{{nominal.index}}">{{nominal.name}}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>none</p>
      {% endif %}


      <br><br><br><br>
      <ul class="nav-links">
        <li><a href="/gang/{{prev}}">Previous</a></li>
        <li><a href="/gang/rand/">Random</a></li>
        <li><a href="/gang/{{next}}">Next</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}


