{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% set userType = "prison-officer" %}
{% if data['user_type'] %}
  {% set userType = data['user_type'] %}
{% endif %}

{% set homepage_url = "/home" %}
{% set global_header_text=serviceName %}
{% block inside_header %}

{% endblock %}

{% block proposition_header %}
  <div id="user-and-search">
    <ul class="user-menu">
      <li>{{userType}}@example.com</li>
      <li><a href="/signout">Sign out</a></li>
    </ul>
    <div class='simple-search-outer'>
      {% include 'includes/simple_search_form.html' %}
    </div>
  </div>

  <ul id="proposition-links">
    <li><a href="/nominal">Nominals</a></li>
    <li><a href="/ocg">OCGs</a></li>
  </ul>
{% endblock %}



{% block header_class %}
  with-proposition
{% endblock %}


{% block footer_support_links %}
  {% if useAutoStoreData %}
    <ul>
      <li>
        <a href="/prototype-admin/clear-data">Clear data</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block body_end %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block page_scripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
